
services:
  postgres:
    image: postgres:18
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - opensox_postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  opensox_postgres_data:
